/*----BLOG----*/
.blog {
    background: #e7eff1;
    height: 650px;
}

.blog-title-vertical-position {
    margin-top: 90px;
}

.blogs-content {
    background-color: #ffffff;
    border-collapse: collapse;
    display: table;
}

.blog-content-row {
    display: table-row;
}

.blog-cell {
    display: table-cell;
    height: 290px;
    vertical-align: top;
    width: 570px;
}

.blog-shadow {
    box-shadow: inset -20px 0 40px rgba(176,184,197,0.3);
}
.blog2-shadow {
    box-shadow: inset 20px 0 40px rgba(176,184,197,0.3);
}
.blog-cell:hover {
    box-shadow: 0 0 40px #9fa7b4;
    border-color: #16d428;
    cursor: pointer;
    transition: 0.5s;
}

.background-img {
    background: url("../../img/img-blog.png") no-repeat;
}

.blog-border {
    border-top: 3px solid #ffac56;
}

.blog-content-box {
    width: 320px;
}

.blog-indent-left {
    margin-left: 55px;
}

.date-blog {
    color: #343a3b;
    font-family: 'Domine Regular', serif;
    font-size: 1.2em;
    font-weight: bold;
}

.date-blog-position {
    margin: 40px auto -5px;
}

.font-blog-heading {
    color: #343a3b;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 1.2em;
}

.blog1-information-block {
    height: 100px;
    line-height: 1.5em;
    width: 260px;
}

.blog2-information-block {
    line-height: 1.5em;
    width: 400px;
}


.full-blog-btn-vertical-position {
    margin-top: 60px;
}

.blog-btn-padding {
    padding: 15px 45px;
}
