/* ---- CONTACT ---- */

.contact-item {
    border: 1px solid #e1eaec;
    width: 364px;
    height: 128px;
    margin-bottom: 100px;
}
.contact-item .contact-item-pic-email {
    background: url(../../img/sprite.png) -60px -252px;
    width: 60px;
    height: 59px;
}
.contact-item .contact-item-pic-call {
    background: url(../../img/sprite.png) -248px -252px;
    width: 56px;
    height: 44px;
}
.contact-item .contact-item-pic-career {
    background: url(../../img/sprite.png) 0 -312px;
    width: 56px;
    height: 56px;
}
.contact-item-text:hover {
    color: #ffac55;
}
.contact-item-pic-email,
.contact-item-pic-call,
.contact-item-pic-career {
    margin-right: 42px;
}
.contact-link {
    text-decoration: none;
    padding: 41px 30px 0 42px;
    color: #343a3b;
}
.contact-item-title {
    margin-bottom: 8px;
}
.contact-item-text {
    color: #343a3b;
    font-size: 18px;
}