.page-header {
    background: url("../../img/background/peoples.png") center no-repeat #03b6e7;
    background-size: cover;
    color: #fff;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
}
.container-header {
    padding-top: 40px;
}
.welcome-title {
    margin-top: 200px;
    margin-bottom: 50px;
}
.menu {
    padding: 0;
    margin: 0 0 0 70px;
    line-height:42px;
}
.menu-decoration {
    list-style-type: none;
    font-weight: bold;
}
.menu-item {
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
    font-size: 14px; 
}
.menu-item:hover {
    color: #f6961b;
}
.text-phone-position {
    padding-left: 10px;
    padding-right: 20px;
}
.text-phone {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.text-phone:hover {
    color: #f6961b;
}
.icon-phone {
    width: 20px;
    height: 20px;
    background: url(../../img/sprite.png) -226px -182px no-repeat transparent;
}
.icon-email {
    width: 33px;
    height: 33px;
    border-radius: 18px;
    background: url(../../img/sprite.png) -333px -78px no-repeat #03b6e7;
}
.welcome-title-text {
    margin: 0 0;
}
.title-main {
    margin-top: 10px;
    font-size: 48px;  /*вынести*/
    letter-spacing: -1.8px;
}
.box-industry {
    width: 264px;
    height: 283px;
    background: #03b6e7;
    margin-right: 30px; 
}
.slider-header-box {
    width: 260px;
    height: 280px;
    background: #03b6e7;
    margin-right: 30px;
    float: left;
}

.slider-header-box:hover {
    background: #f6961b;
}
.slider-header-box-img {
    width:60px;
    height: 60px;
    background: url(../../img/sprite.png) no-repeat transparent;
}
.slider-header-box-education {
    background-position: 0 -252px;
}
.slider-header-box-business {
    background-position: -118px -250px;
}
.slider-header-box-technology {
    background-position: -183px -252px;
}
.slider-header-box-banking {
    background-position: -315px 0;
}
.slider-header-box-img-position {
    margin: 85px auto 25px auto;
}

.slider-header-container {
    width: 1740px;
}
.slider-header-overflow {
    width: 1160px;
    overflow: hidden;
}
.switch-header2:checked ~ .slider-header-overflow .slider-header-container {
    margin-left: -290px;
}
.switch-header3:checked ~ .slider-header-overflow .slider-header-container {
    margin-left: -580px;
}
.control-main1, .control-main2, .control-main3 {
    border-radius: 10px;
    border: 2px solid #fff;
    cursor: pointer;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent;
    position: relative;
}
.switch-header1:checked ~ .slider-main-controls .control-main1,
.switch-header2:checked ~ .slider-main-controls .control-main2,
.switch-header3:checked ~ .slider-main-controls .control-main3 {
    border: 2px solid #16d428;
}
.switch-header1:checked ~ .slider-main-controls .control-main1:after,
.switch-header2:checked ~ .slider-main-controls .control-main2:after,
.switch-header3:checked ~ .slider-main-controls .control-main3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border: 2px solid #16d428;
    border-radius: 2px;
    top: 5px;
    left: 5px
}
.slider-main-controls {
    text-align: center;
    margin-top: 105px;
    margin-bottom: 60px;
}
.slider-header-text {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.switch-header1,
.switch-header2,
.switch-header3 {
    display: none;
}