.services-background {
    background-color: #fffaf3;
}
.services-types {
    display: flex;
    justify-content: space-between;
}
.services-img {
    width: 44px;
    height: 44px;
}
.services-block {
    width: 324px;
    height: 70px; 
    margin-bottom: 120px; 
}
.services-block .sub-section-title {
    margin-bottom: 0;
}
.services-block:hover h3 {
    color: #f6961b;
}
.services-btn-details {
    width: 163px;
    height: 44px;
    margin-top: 50px;
    margin-bottom: 90px;
}
.section-title-services {
    padding-top: 95px;
}