.services-background {
    background-color: #fffaf3;
}
.services-types {
        display: flex;
        justify-content: space-between;
}
.services-img {
    width: 44px;
    height: 44px;
}
.services-block {
    width: 324px;
    height: 70px; 
    margin-bottom: 120px; 
}
.services-block .sub-section-title {
    margin-bottom: 0px;
}
.services-btn-details {
    width: 163px;
    height: 44px;
    margin-top: 50px;
    margin-bottom: 90px;
}