/* -----TESTIMONIALS-----*/

.testimonials {
    background-color: #03b6e7;
    height: 515px;
}

.testimonials-box-style {
    color: #ffffff;
    display:block;
    padding-top: 65px;
}

.background-quote {
    background: url(../../img/quote-background.png) no-repeat;
}

.icon-quote-small {
    background: url(../../img/sprite.png) -162px -196px  no-repeat;
    height: 22px;
    width:32px;
}

.position-icon-quote-small {
    position: absolute;
    right: 0;
    top: 70px;
}

.service-border {
    border-top: 1px solid #03b6e7;
}

/*-----------Font testimonials-------*/

.font-color-testimonials-title {
    color: #ffffff;
}

.font-testimonials-review {
    font: .875em 'Domine', serif;
    line-height: 2em;
}

.font-client-name {
    font: 1em 'Montserrat', sans-serif;
    font-weight: bold;
}

.font-review-designation {
    font-size: 0.9375em;
}

