/* -----TESTIMONIALS-----*/

.opacity-img {
    opacity: 0.5;
}

.opacity-img:hover {
    opacity: 1;
}

.service-border {
    border-top: 1px solid #03b6e7;
}

.quote-position {
    display: block;
    float: left;
}

.testimonials {
    background-color: #03b6e7;
    height: 515px;
}
.section-title-testimonials {
    color: #fff;
}

.background-quote {
    background: url(../../img/icons/quote/quote_icon.png) no-repeat
}

.testimonials-people-faces-block {
    display: block;
    width: 254px;
    height: 62px;
}


.face2 {
    display: inline-block;
    margin: auto 15px;
}

.face3 {
    display: inline-block;
}

.testimonials-content-block {
    height: 260px;
    width: 1000px;
}

.testimonials-content-font-style {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.testimonials-content-text {
    white-space: pre;
    line-height: 2em;
}

.testimonials-underline {
    margin: 30px auto;
    width: 20px;
    border-top: 3px solid #ffffff;
}

.text-footer-add {
    font-family: "Times New Roman Regular", serif
}
