/* -----TESTIMONIALS SLIDER-----*/


/* -----Wrapper for slider-----*/

.testimonials-slider-wrap {
    height: 365px;
    margin: 0 auto;
    position: relative;
    width: 1140px;
}

/* -----Box for switching photos -----*/

.testimonials-clients-photos-slider-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 80px;
}

/* -----Box for photo-----*/

.testimonials-photo-box {
    cursor: pointer;
    display:inline;
    margin:auto 10px;
    height: 55px;
    width: 55px;

}

/* -----Clients photos-----*/

.testimonials-photo-client1{
    background: url("../../img/icons/clients/client1.png") no-repeat 50% 50%;
    background-size: 100%;
}

.testimonials-photo-client2{
    background: url("../../img/icons/clients/client2.png") no-repeat 50% 50%;
    background-size: 100%;
}

.testimonials-photo-client3{
    background: url("../../img/icons/clients/client3.png") no-repeat 50% 50%;
    background-size: 100%;
}

/* -----Photos shade ----*/

.testimonials-photo-shade {
    background-color: #03b6e7;
    opacity:0.6;
}

/* -----Switching photo----*/

.switch-photo-client1,
.switch-photo-client2,
.switch-photo-client3 {
    display:none;
}

.switch-photo-client1:checked ~ .testimonials-clients-photos-slider-box .checked-client1,
.switch-photo-client2:checked ~ .testimonials-clients-photos-slider-box .checked-client2,
.switch-photo-client3:checked ~ .testimonials-clients-photos-slider-box .checked-client3 {
    opacity:1;
    height: 65px;
    width: 65px;
    transition: .5s;
}


/* -----Box for slider review-----*/

.slider-review {
    height: 260px;
    overflow: hidden;
    position: relative;
    width: 1140px;
}

/* -----Testimonials box-----*/

.testimonials-review-block {
    height: 250px;
    opacity: 0;
    padding-top: 10px;
    position: absolute;
    transform: rotate(55deg);
    transition: 1s;
    width: inherit;
    z-index: 0;
    -webkit-filter: hue-rotate(90deg);

}

.testimonials-review {
    width:1000px;
}

/* -----Underline----*/
.testimonials-underline {
    border-top: 3px solid #ffffff;
    width: 20px;
}
.testimonials-underline-position {
    margin: 30px auto;
}

/* -----Effect of switch review-----*/

.switch-photo-client1:checked ~ .slider-review > .checked-review-client1,
.switch-photo-client2:checked ~ .slider-review > .checked-review-client2,
.switch-photo-client3:checked ~ .slider-review > .checked-review-client3 {
    opacity: 1;
    transform: none;
    z-index: 1;
    -webkit-filter: none;
}



