.text-centre {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.testimonials {
    height: 515px;
    background: #03b6e7;
}
.quote {
    display: block;
    float: left;
}
.background_quot {
    background: url(../image/icons/quote/quote_icon.png) no-repeat
}
.testim_caption {
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 90px;
    font-family: Arial, sans-serif;
}

.testim-faces {
    display: block;
    width: 254px;
    height: 62px;
}


.face2 {
    display: inline-block;
    margin: auto 15px;
}

.face3 {
    display: inline-block;
}
.test-content {
    height: 260px;
    width: 1000px;
}
.test-text {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.test-underline {
    margin: 30px auto;
    width: 20px;
    border-top: 3px solid #fff;
}
.text-footer {
    text-transform: uppercase;
}

.text-footer2 {
    font-family: "Times New Roman Regular", serif
}
.quote2 {
    float: right;
}

.blog {
    height: 650px;
    background: #e7eff1;
}
.blog-title {
    color: #343a3b;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
}
.blog-title-position {
    margin-top: 90px;
}

.blog1,
.blog2 {
    height: 295px;
    width: 570px;
    background-color: #fff;
}
.blog1 {
    float:left;
    border-top: 3px solid #16d428;
    box-shadow: 0 0 105px #b0b8c5;
    z-index: 2;
}
.blog2 {
    float:left;
    border-top: 3px solid #ffac56;
    z-index: -1;
}
.blog1-img {
    float: left;
}
.blog1-text {
    float: left;
    margin-left: 30px;
    width: 320px;
}
.date-blog {
    color: #343a3b;
    margin-top: 40px;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}
.blog-heading {
    color: #343a3b;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}
.blog-text {
    width: 260px;
    line-height: 1.5em;
}