@import url(page-header.css);
@import url(page-projects.css);
@import url(page-services.css);

.base {
    font-family: "Domine Regular", "Times New Roman Regular", serif;
    color: #838b8c;
}
.container {
    width: 1140px;
}

.center-horizontal {
    margin: 0 auto;
}
.section-title {
    font-size: 32px;
    font-family: "Montserrat";
    color: rgb(52, 58, 59);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.031;
    text-align: center;
}
.button-main {
    font-size: 13px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    background-color: rgb(22, 212, 40);
    text-transform: uppercase;
    line-height: 2.308;
}
.sub-section-title {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(52, 58, 59);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.833;
    text-align: left;  
}
.section-content {
    font-size: 15px;
    font-family: "Domine";
    color: rgb(131, 139, 140);
    line-height: 1.867;
    text-align: left;  
}