@import url(page-header.css);
@import url(contacts.css);
@import url(footer.css);

/* ---- FONTS ---- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Domine');

/* ---- GLOBAL STYLES ---- */

.base {
    font-family: "Domine Regular", "Times New Roman Regular", serif;
    color: #838b8c;
}

.container {
    width: 1140px;
}

.center-horizontal {
    margin: 0 auto;
}

ul, li {
     margin: 0;
     padding: 0;
     list-style: none;
}

.section-title {
    font-family: Montserrat, "Times New Roman", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #343a3b;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1.6px;
}

.btn {
    font-family: Montserrat, "Times New Roman", sans-serif;
    font-size: 13px;
    background-color: #16d428;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 25px;
    border-radius: 30px;
    display: inline-block;
}

.btn:hover {
    background-color: #13b422;
}






