@import url(components/testimonials.css);
@import url(components/testimonials-slider.css);
@import url(components/blog.css);
@import url(components/page-header.css);
@import url(components/services.css);
@import url(components/projects.css);
@import url(components/contacts.css);
@import url(components/footer.css);
@import url(components/about-us.css);
@import url(components/features.css);
@import url(media.css);

/* ---- FONTS ---- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Domine');

/* ---- GLOBAL STYLES ---- */

.base {
    font-family: Domine, "Times New Roman Regular", serif;
    color: #838b8c;
}
.container {
    max-width: 1140px;
}

.center-horizontal {
    margin: 0 auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.display-none {
    display: none
}
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.row-reverse {
    flex-direction: row-reverse;
}

.display-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}
.transition {
    -webkit-transition: all 1s ease 0.5s;
    -moz-transition: all 1s ease 0.5s;
    -o-transition: all 1s ease 0.5s;
    transition: all 0.3s ease 0.1s;
}
.section-title {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1.6px;
    margin-top: 94px;
    line-height: 1.031;
}

.section-title-color {
    color: #343a3b;
}

.button-main {
    font-size: 13px;
    font-family: Montserrat, Arial, sans-serif;
    color: #fff;
    background-color: #16d428;
    line-height: 2.308;
}

.sub-section-title-decoration {
    font-size: 18px;
    font-family: Montserrat, Arial, sans-serif;
    color: #343a3b;
    font-weight: 700;
    letter-spacing: -0.9px;
}

.sub-section-title {
    line-height: 1.833;
    text-align: left;
}

.section-content {
    font-size: 15px;
    font-family: Domine, "Times New Roman Regular", serif;
    color: #838b8c;
    line-height: 1.867;
    text-align: left;
}

.btn {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 13px;
    background-color: #16d428;
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    border-radius: 30px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;;
    display: inline-block;
}

.btn:hover {
    background-color: #13b422;
}



