.services-background {
    background-color: rgb(255, 250, 243);
}
.services-business-consultation:hover {
    background: url(images/icon_business_consultation.hover.png) no-repeat 50% 50%;
}
.services-boost-local-business:hover {

}
.services-accounting:hover {

}
.services-types {
    display: inline-block;
}