.project-button {
    border-width: 2px;
    border-color: #f6961b;
    border-style: solid;
    border-radius: 30px;
    background-color: transparent;
    font-family: "Montserrat";
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 2;
    width: 106px;
    height: 29px;
}
.project-button:hover {
    background: #cfcbcb;
}
.project-contents {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
}
.project-narrow-image {
    width: 358px;
    height: 294px;
}
.project-narrow-image .project-button {
    position: relative;
    top: -280px;
    left: 20px;
}
.project-narrow-info {
    width: 356px;
    height: 172px;
    border-left: 1px solid #dae5e8;
    border-right: 1px solid #dae5e8;
    border-bottom: 1px solid #dae5e8;
}
.project-narrow-info:hover {
    background-color: #f6961b;
    border-color: #f6961b;
}
.project-narrow-info:hover .project-contents .sub-section-content {
    color: #ffffff;
}
.project-narrow-info:hover .project-contents .sub-section-title {
    color: #ffffff;
}
.project-wide-image {
  width: 749px;
  height: 294px;  
}
.project-wide-image .project-button {
    position: relative;
    top: -280px;
    left: 20px;
}
.project-wide-info {
  width: 748px;
  height: 172px;
  border-left: 1px solid #dae5e8;
  border-right: 1px solid #dae5e8;
  border-bottom: 1px solid #dae5e8;
}
.project-wide-info:hover {
    background-color: #f6961b;
    border-color: #f6961b;
}
.project-wide-info:hover .project-contents .sub-section-content {
    color: #ffffff;
}
.project-wide-info:hover .project-contents .sub-section-title {
    color: #ffffff;
}